{% extends 'base.html.twig' %}

{% block title %}New Lesson2{% endblock %}

{% block body %}
    <h1>Create new Lesson2</h1>

    {{ include('lesson2/_form.html.twig') }}

    <a href="{{ path('app_lesson2_index') }}">back to list</a>
{% endblock %}
