<form method="post" action="{{ path('app_lesson4_delete', {'id': lesson4.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson4.id) }}">
    <button class="btn">Delete</button>
</form>
